-# Holder for the ajax bar, logout, and view public site
.bottom-nav
	-# Add AJAX progress indicator
	!= View::make('pedreiro::layouts.decoy.sidebar._progress')->render()

	.controls
		.left
			%a.logout(href=route('porteiro.account@logout'))
				%span.glyphicon.glyphicon-log-out
				!= __('pedreiro::sidebar.bottom.logout')
			.subtitle
				%span.glyphicon.glyphicon-heart
				%a(href="http://facilitador.sierratecnologia.com" target="_blank") Sitec 5.10
				by
				%a(href="http://www.sierratecnologia.com" target="_blank") SierraTecnologia
		%a.right(href="/")
			.glyphicon.glyphicon-globe
			.subtitle!= __('pedreiro::sidebar.bottom.open_site')
