-if(!app('facilitador.user')) return;

.sidebar
	!= View::make('pedreiro::layouts.decoy.sidebar._account')->render()
	!= View::make('pedreiro::layouts.decoy.sidebar._nav')->render()

!= View::make('pedreiro::layouts.decoy.sidebar._bottom')->render()
