-if(!app('facilitador.user')) return;

.sidebar
	!= View::make('support::layouts.decoy.sidebar._account')->render()
	!= View::make('support::layouts.decoy.sidebar._nav')->render()

!= View::make('support::layouts.decoy.sidebar._bottom')->render()
