.header

	-# Mobile controls.  Only show if logged in.  Otherwise, there is nothing to
	-# show.  This is really only relevant for the forgot password views currently
	- if (app('facilitador.user'))
		.btn-group.nav-hamburger
			%a.btn.outline
				%span.glyphicon.glyphicon-th-list

	%h1.title

		-# The page title
		%span.site = Facilitador::site()
		%br.mobile-break
		%span.controller != $title

		- if(!empty($many_to_many) && app('facilitador.user')->can('update', $controller))
			-# If we've declared this relationship a many to many one, show the autocomplete
			.pull-right.btn-toolbar
				!=View::make('support::shared.form.relationships._many_to_many', $__data)->render()

		- elseif(app('facilitador.user') && app('facilitador.user')->can('create', $controller) && !Route::is('facilitador.account@forgot', 'facilitador::account@reset'))

			-# Controller actions
			.pull-right.btn-toolbar
				.btn-group
					%a.btn.outline.new(href=URL::to(FacilitadorURL::relative('create')))
						%span.glyphicon.glyphicon-plus
					!=View::make('support::shared.form._create-locales', $__data)->render()

	-# Description of the controller
	-if($description)
		%h2.description!=$description
